
@import url('https://fonts.googleapis.com/css?family=Merriweather');
.logotype{
	width: 60%;
	top:50px;
	display: block;
	margin-left:auto;
	margin-right:auto;
}

.login_register_text{
	margin:auto;
	text-align:center;
    color:#4286f4;
    font-size: 8px;
	font-family: 'Merriweather';

}
body{
	background-color: #f6f6f6;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
	background-color: #4286f4;
}

.login_register_form{
	margin-top: 10%;
}

<<<<<<< HEAD
=======

>>>>>>> 5386227501e6b3a87cc00db18696cbc26cfda139
input[type=text], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
	display: block;
	margin-left: auto;
    margin-right: auto;
    
}

input[type=submit]:hover, .login_register_buttons:hover {
    background-color: #68a2ff;
}

input[type=password], select {
    width: 80%;
    padding: 12px 20px;
    margin-left:auto;
    margin-right: auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	}

.WorkoutHeader{
    text-align: center;
    color: #4286f4;
    font-size: 2em;
    font-family: 'Merriweather';
	
}	
	
/*--- UNDERPAGE CALCULATOR --- */

.Calc_Form{
	text-align: center;
    color: #4286f4;
    font-size: 1em;
    font-family: 'Merriweather';
}
	
	
	
#viktkg{
    float:right;
    width: 100px;
    text-align: right;
    position: ;

}
.numberweight{
    width: 80%;
    padding: 12px 20px;
    margin-left:auto;
    margin-right: auto;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#password, #username{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.login_register_buttons{
	width: 80%;
    background-color: #4286f4;
    color: white;
    border: 1px;
    padding: 14px 20px;
    margin-left: auto;
    margin-right: auto;
	margin-top: 8px;
    cursor: pointer;
    display: block;
}

.tablemain{
    width:100%;
    position: fixed;
    bottom: 0%;
    overflow: auto;
    height: 10%;
    background: white;
    margin-left: -8px;
	

}

.pagemainlogotype{
    width:40%;
    height:40%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

th{
    width: 20%;
    padding: 0;
}

.tablemainbutton{
    width: 100%;
    background-color: #4286f4;
    color: white;
    border: 1px;
    cursor: pointer;
    display:block;
    height: 100%;
    padding: 0;
	min-width: 70%;
	font-size: 0.82em;
    
}
	
#map {
        height: 100%;
        width: 100%;
       }
/*--- UNDERPAGE Muscles --- */

figure{
	text-align: center;
	border: 1px solid #CCC;
	border-radius: 1em;
	width: 100%;
	margin: auto;

}

figcaption{
	font-size: 1.8em;
	padding-bottom: 15px;
	font-family: Arial;
	
}

/*--- Secondpages ---*/

.secondpages_main{
	border: 1px solid #CCC;
    height: 2100px;
    width: 100%;
    background-color: white;
	margin: auto;
}

iframe{
	margin-left: 10%;
	width: 80%;
	height: 300px;
	
}

.WorkoutInfo{
	margin: auto;
	width: 300px;
	font-family: 'Merriweather';
	padding-top: 3px;
	
}

#WorkoutContainer{
	margin-top: 20px;
}

#WorkoutPic{
	margin-top: 40px;
	width: 85%;
	height: 200px;
	margin-left: 8%;
}

#WorkoutHeaderLow{
	text-align: center;
    color: #4286f4;
    font-size: 1.0em;
    font-family: 'Merriweather';
	
}

/*--- UNDERPAGE PROFILE --- */

.card {
    width: 100%;
    margin: auto;
    text-align: center;
}

.Profile_header{
	display:inline-block;
	font-family: 'Merriweather';
}

.title {
    color: grey;
    font-size: 18px;
}


a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}



#ProfileForm {
  /* Just to center the form on the page */
  margin: 0 auto;
  /* To see the outline of the form */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

form div + div {
  margin-top: 1em;
}

label {
  /* To make sure that all labels have the same size and are properly aligned */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, textarea {
  /* Så att alla rutor har samma font */
  font: 1em Times New Roman;
  /* Samma storlek på boxarna */
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus, textarea:focus {
  /* Ger lite ljus när man skiver i form */
  border-color: #4286f4;
}

textarea {
  vertical-align: top;
  height: 5em;
  resize: none;
}

#Profile_Send{
	background-color: #4286f4;
	width: 100%;
}

button:hover, a:hover {
    opacity: 0.7;
	
} 

.loggaut{	
	border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
	background-color: #4286f4;
	font-family: 'Arial';
}
	   
#textarea_log{
	width: 100%;
}
	   
form{
	font-family: 'Merriweather';
}

h1{
	font-family: 'Merriweather';
	text-align: center;
	
}

header{
	font-family: 'Merriweather';
}	   

img{
	width: 100%;
}
